@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Merriweather:wght@400;700;900&display=swap");

/* common shared styles */
* {
  margin: 0 auto;
  padding: 0;
  font-family: "Merriweather", serif;
}

.btn {
  color: #fff;
  background-color: #1e1c21;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  border: 0px;
}

.container {
  width: 82%;
  max-width: 1320px;
  margin: 120px auto;
}
/* header related styles */

#header {
  margin-top: 50px;
}
header .banner {
  height: 600px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../assets/Banner\ Image.png");
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .banner .greetings {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin: 177px auto;
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
}
header .banner .headings {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  margin: 16px 344px 177px 344px;
  position: relative;
  z-index: 1;
}

/* main section styles */

/* categories div styles */
main #categories {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  height: 800px;
}

main #categories p {
  margin: 10px auto;
}
main #categories img {
  margin: 10px auto;
}
main #categories .off {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
}

/* about div styles */
main .about {
  height: 600px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../assets/Vectorrr.png);
  display: flex;
}

main .about .text {
  justify-content: center;
  text-align: center;
}

main .about .text .headings {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7px;
  margin: 100px 94px 24px 126px;
}

main .about .text .para {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 24px 39px 10px 126px;
  text-align: justify;
}

main .about .about-img {
  margin: 68px 138px 67px 39.17px;
}

/* vanue part styles */

#vanue {
  height: 482px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
#vanue .vanue {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin: 100px auto;
}

#vanue .vanue .text-red {
  color: #f00;
}

.red-btn {
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #f00;
  border: 0px;
}
#vanue #b2 {
  background-color: #f00;
}

/* offer div styles */
main #offer {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 400px;
  display: flex;
}

main #offer p{
  margin-top: 15px;
}

main #offer .about-para{
  height:160px;
  width: 300px;
}

main #offer .img-offer {
  border: 10px solid #f00;
  border-radius: 100%;
  padding: 10px;
}


.year {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

/* some other shared style */
main .best {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

main .head-para {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

main .about-para {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}



/* Sale section */

main #sale {
  display: flex;
  flex-direction: column;
  height: 984px;
  background-image: url("../assets/Rectangle\ 2.png"),
    url("/assets/Rectangle\ 1.png");
  background-position: center bottom, center right;
  background-size: auto, auto;
  background-repeat: no-repeat;
  border-radius: 16px 0px 16px 16px;
}
main #sale .sale-img {
  display: flex;
  justify-content: space-around;
  margin: 100px 250px 50px 5px;
}

main #sale .sale-title {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

main #sale .sale-rate {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
}
main #sale span{
  color: #F00;
}
/* portfolio section */
main #portfolio {
  height: 1165px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}

main #portfolio p {
  margin-bottom: 20px;
}

main #portfolio .port-img1,
.port-img2 {
  display: flex;
}

main #portfolio img {
  /* margin :0px 24px 24px 0px; */
  height: 440px;
  margin-right: 24px;
  margin-bottom: 24px;
  max-width: 390px;
}

/* subscribe section styles */

main #subscribe {
  justify-content: center;
  height: 600px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

main #subscribe img {
  margin: 60px 585px;
}

main #subscribe p {
  text-align: center;
}
main #subscribe .input {
  align-items: center;
  margin: 50px 400px;
  /* display: inline-block;
  gap: 0px; */
  /* height: 40px;
  margin: 50px 400px;
  align-items: center;
  border-radius: 30%;
  background-color: white; */
}

main #subscribe .input .email {
  background-color: white;
  border-radius: 0 0 0 100px;
}

/* footer section styles */
footer {
  width: 100%;
  max-width: 1600px;
  height: 609px;
  background: #070211;
}

footer p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

footer .address,
.copyright,
.phone,
.website {
  display: flex;
  justify-content: space-between;
}

footer .address .street {
  margin: 120px 600px 50px 0px;
}

footer .address .contact {
  margin: 120px 20px 50px 0px;
}

footer .social-media img{
  margin: 48px 24px;
}

footer .social-media .img1 {
  margin-left: 440px;
}

footer .copyright .p1 {
  margin: 50px 680px 120px 0px;
}

footer .copyright .p2 {
  margin: 50px 0px 120px 0px;
}
